div.condicoes {
  border-spacing: .2em;
  display: table;
}

div.condicoes div.linha {
  display: table-row;
}

div.condicoes div.linha .condicao,
div.condicoes div.linha span.abre,
div.condicoes div.linha span.fecha,
div.condicoes div.linha span.operando,
div.condicoes div.linha span.celula {
  display: table-cell;
  vertical-align: middle;
}

div.condicoes div.linha .condicao {
  white-space: nowrap;
}

div.condicoes div.linha span.abre,
div.condicoes div.linha span.fecha {
  border: 2px solid #000000;
  width: .2em;
}

div.condicoes div.linha span.abre {
  border-right: 0;
}

div.condicoes div.linha span.fecha {
  border-left: 0;
}

div.condicoes span.operando {
  font-weight: bolder;
}

input.ativo {
  border-color: #0000FF;
}

table#insercao_condicao {
  width: 100%;
}
table#insercao_condicao thead th {
  background-color: #FFFFFF;
  border: 1px inset #CCCCCC;
  color: #000000;
  text-align: center;
}

table#insercao_condicao tbody td,
table#insercao_condicao tbody th {
  border: 1px solid #CCCCCC;
  vertical-align: top;
}
table#insercao_condicao tbody td {
  text-align: center;
}
table#insercao_condicao tbody th {
  text-align: right;
}